<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/resourses :: resources_fragment">
    <meta charset="UTF-8">
    <title>Login Form</title>

</head>
<body>

<div class="container">
    <h2>Login</h2>
    <form method="post" th:action="@{/authenticate}">
        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>

        <div th:if="${param.logout}">
            <p class="text-warning">You have been logged out.</p>
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label" for="username">Username:</label>
            <input class="form-control" id="username" name="username" placeholder="Enter username" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" id="password" name="password" placeholder="Enter password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>


</div>

</body>
</html>